body {
	background: #42A5F5;
	color: white;
	display: flex;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.login {
	margin: auto;
	text-align: center;
	width: 100%;
	max-width: 400px;
}
	
.login-input  {
	background: white;
	border: none;
	box-sizing: border-box;
	font-size: 30px;
	margin: 5px;
	padding: 6px;
	width: 100%;
}

.login-input:first-child  {
	border-radius: 12px 12px 0 0;
}

.sign {
	background: #0277BD;
	color: #42A5F5;
	width: 100%;
}

.sign:hover {
	color: white;
}

.sign-up {
	border-radius: 0 0 12px 12px;
}



