body {
	background: #42A5F5;
	color: white;
	display: flex;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
}

/*Стилі login.html*/

*{	
	box-sizing: border-box;
}
.login {
	margin: auto;
	text-align: center;
	max-width: 400px;
}
	
.input  {
	background: white;
	border: none;
	font-size: 30px;
	margin: 5px;
	padding: 6px;
	width: 100%;
}

.border-top  {
	border-radius: 12px 12px 0 0;
}

.border-bottom {
	border-radius: 0 0 12px 12px;
}

.button {
	background: #0277BD;
	color: #42A5F5;
}

.button:hover {
	color: white;
	cursor: pointer;
}

/*Стилі кріейт.хтмл*/

h1 {
	margin: 5px 0 0 0;
}

.wrapper-create {
	display: inline-block;
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}

.wrapper-create .heand-job{
	float: left;
	margin: 5px 5px 0 0;
	max-width: 555px;
}

.wrapper-create .file-job{
	float: left;
	margin-top: 5px;
	max-width: 235px;
}

input[type="file"] {
	cursor: pointer;
}

@media (max-width: 800px) {
	.wrapper-create .heand-job{
		margin: 0 5px 0 0;
		max-width: 800px;
	}
	.wrapper-create .file-job{
		margin-top: 5px;
		max-width: 800px;
	}
}