/*COLORS
	ligt blue #E3F2FD
	dark blue #0D47A1
	blue #2196F3
*/

body {
	color: white;
	font-family: 'Roboto', sans-serif;
	background: #42A5F5;
}

.login {
	text-align: center;
	width: 300px;
	padding: 20px;
	position: absolute;
	top: 30%;
	left: 39%;
}
	
.input-login {
	font-size: 30px;
	background: white;
	border: 3px ridge white;
	padding: 6px;
	width: 100%;
}

#emailInput {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#sing-in {
	color: white;
	width: 318px;
	background: #1976D2;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.sing-up {
	display: block;
	margin-top: 7px;
	font-size: 20px;
}




