<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Create task</title>
</head>
<body>
    <!--Форма для створення таску вручну-->
    <h1>Create Task:</h1>
    <form action="POST" action="/create">
        <label for="task-name">Name: </label><br>
        <input type="text" name="task_name" id="task-name"><br>
        <label for="description">Summary: </label><br>
        <textarea name="description" id="task-description" cols="30" rows="10"></textarea><br>
        <label for="deadline">Deadline: </label><br>
        <input type="date" name="deadline" id="task-deadline"><br>
        <br>
        <input type="button" id="create_task" value="Create task">  
    </form>
    <!-- Форма для завантаження файлу таску окремо -->
    <h2>Upload file with task: </h2>
    <form enctype="multipart/form-data" action="upload">
        <label for="upload">Upload a file: </label><br>
        <input type="file" name="upload"><br>
        <input type="submit" value="Upload file">
    </form>
    <a href="index.html"><<< Back to index</a>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script src="../public/js/front.js"></script>
</body>
</html>