<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style/style.css">
    <title>Main page</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div>
            <h1 class="h1-index">Task Distributor</h1>
            <a href="#" class="button-header">Create</a>
            </div>
        </div>
        <div class="content">1</div>
            <div class="profile">
                <div id="user-data">
                </div>
        </div>
    </div>

    <!--<button onclick="createEl()">Refresh</button>-->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script src="../public/js/front.js"></script>
</body>
</html>