<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>  
    <form method="POST">
        <label>Login(email):</label>
        <input type="email" name="emailInput" id="emailInput"><br>
        <label>Password:</label>
        <input type="password" name="passwordInput" id="passwordInput"><br>
        <a href="index.html">Click me</a><br>
        <input type="submit" id="subimt" value="Sign in" onclick="changePage()"><br>
    </form>
    <script>
        function changePage(){
            window.location.href = "index.html";
            let email = document.getElementById('emailInput');
            let pass = document.getElementById('passwordInput');
            console.log('Login is ' + email.value + ' and password is ' + pass.value);
            return false;
        }
    </script>
</body>
</html>